.modal-form .ant-modal-header {
    background-color: #108ee9;
    text-align: center;
}
.modal-form .ant-modal-header span {
    color: white;
}
.modal-form .ant-modal-header i {
    margin-left: 7px;
}
