.ant-col p {
  font-weight: bold;
}
.ant-card-body {
  padding: 5px;
}
.ant-card-meta-detail {
  padding-right: 40%;
}
.filter .ant-card-body {
  padding: 20px;
}
.filter .ant-col-12{
  display: flex;
  flex-direction: column;
}
