.ComposedChart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.PieChart{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.custom-tooltip{
    width: 300px;
}
.custom-tooltip .ant-card-meta-detail{
    padding-right: unset;
}