.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  padding-left: 8px;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 16px;
  line-height: 32px;
  /* color: white; */
}
.logo span {
  font-weight: 800;
  color: #1890ff;
  background-image: -webkit-gradient(
    linear,
    37.219838% 34.532506%,
    36.425669% 93.178216%,
    from(#29cdff),
    to(#0a60ff),
    color-stop(0.37, #148eff)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
